.productCard {
    background-color: white;
    width: 20rem;
    height: 15rem;
    padding: 0.3rem;
    margin-right: 1.5rem;
    box-shadow: 10px 5px 5px rgba(104, 104, 104, 0.3);

    transition: all 0.3s;
}

.productCard:hover {
    scale: 1.2;
}

.productCard .image {
    width: 19.6rem;
    height: 7.5rem;
}

.productCard .name {
    width: 98%;
    font-size: 1.05rem;
}

.productCard .description {
    width: 98%;
}

.productCard .timeLeft {
    width: 98%;
}

.productCard .bidAmount {
    width: 98%;
    margin-top: 0.5rem;
}